:root {
    --bc: #F8F8F8;
}

body {
    font-family: 'Martel Sans', sans-serif;
}

nav {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
/*    box-shadow: 0vw 0.25vw 0.5vw 0vw rgba(0, 0, 0, 0.2);*/
}

header {
    margin-bottom: 130px;
}

.Logo1 {
    float: left;
}

.Logo1 img {
    width: 180px;
    margin-top: 30px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    padding: 0vw 1vw;
    margin-top: 55px;
}

nav a {
    text-decoration: none;
    color: #9C9B9B;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #204A61;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100vw;
    background-color: white;
    z-index: 1;
    border: none;
    box-shadow: 0.1vw 0.2vw 0vw 0vw rgba(0, 0, 0, 0.2);
}

nav li:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 0.5vw 30vw;
    display: block;
    text-align: center;
}

.first {
    margin-top: 30px;
}

.last {
    margin-bottom: 10px;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 60px;
    background-color: lightgray;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color:#9C9B9B;
    width: 100%;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h {
    font-size: 22px;
    color: #6c6c6c;
}

.info-table {
    padding-top: 20px;
}

.info-table td{
    font-size: 20px;
    padding: 0px 40px;
}

.links td{
    padding: 40px;
}

.linkkram a {
     color: #9C9B9B;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 10px;
}

.linkkram a:hover {
    color: #204A61;
}

.sm {
    list-style: none;
    display: flex;    
}

.sm li {
    margin: 0 10px;
}

.sm a {
    text-decoration: none;
    color: #9C9B9B;
}

.sm a i {
    font-size: 50px;
    transition: color 0.4s ease;
}

.sm a:hover {
    color: #204A61;
}

.wlinks a{
    padding: 20px 10px;
}

.footerpic {
    height: 50px;
}

.footer-bottom {
    background-color: ;
    width: 100vw;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    padding-bottom: 10px;
}

.HPP {
    width: 100%;
    margin-bottom: 20px;
}

.text {
    padding: 0px 5%;
    font-size: 20px;
    color: #6c6c6c;
    line-height: 1.35;
}

.h1 {
    padding: 0px 5%;
    font-size: 30px;
    color: #6c6c6c;
}

.WT {
    padding: 10px 0px;
    border: 1px solid #6c6c6c;
}